

$dark1: #27374D;
$dark2: #526D82;
$light2: #9DB2BF;
$light1: #DDE6ED;

$blueDark1:#0B2447;
$blueDark2:#19376D;
$bluelight2:#576CBC;
$bluelight1:#A5D7E8;

$darkContrast:#5C469C;
$lightContrast:#D4ADFC;
